
.contractbody {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: #4d2600 ;
    font-size: large;
    font-family: 'Segoe UI';
    
}
.contractbody h1 {
    font-weight: bold;
}
.contractbody hr {
    width: 150%;
    margin-bottom: 30px;
}

.contractbody .title{
    margin-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
    line-height: 0.5;
}

.contractbody .title1 {
    color: rgb(153, 2, 2);
    font-family: monospace;
    letter-spacing: 7px;
}
.contractbody .info {
    padding-left: 50px;
    line-height: 0.7;
    padding-bottom: 40px;
}

.contractbody .wave-border {
    width: 100%;
    border: 4px solid transparent;
    border-image: repeating-linear-gradient(-45deg, rgb(243, 167, 175), rgb(247, 73, 99) 10px, transparent 10px, transparent 20px) 10;
    animation: wave-animation 2s linear infinite;
}
@keyframes wave-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

.contractbody .container{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.contractbody .form-container {
    border: none;
    background-color: rgb(215, 248, 192);
    border-radius: 5px;
    padding: 20px;
    width: 1000px;
    height: 350px;
}

.contractbody .form {
    margin-bottom: 10px;
}

.contractbody .btn-primary{
    background-color: rgb(120, 104, 243);
    color: #4d2600;
    border: none;
}

.contractbody .btn-primary:hover{
    background-color: rgb(246, 221, 245);
    color: #4d2600;
    border: dashed;
}

.contractbody .form-control{
     opacity: 70%;
}
