.logo {
    border-radius: 120px;
}

ul {
    list-style: none;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
} */

.col-md-4 ul li  a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.col-md-2 ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

 .chinhsach::after {
     content: '';
     height: 2.5px;
     border-radius: 2px;
     width: 100%;
     background-color: #4d2600;
     position: absolute;
     left: 0px;
     bottom: 0px;
     opacity: 0;
     transition: 0.8s;
     pointer-events: none;
 }

 .chinhsach {
     position: relative;
 }

 .chinhsach:hover::after {
     opacity: 1;
 }
