.newbody {
    margin: 0;
    padding: 0;
    background: #fff7e6;
    font-family: 'Segoe UI';
    height: auto;
}

.newbody .wrapper{
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI';
}

.newbody h1 {
    text-align: center;
    font-weight: 700;
}

.newbody .main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    margin-left: 50px;
    font-family:'Segoe UI';
}

.newbody a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-family: 'Segoe UI';
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .back {
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    font-family: 'Segoe UI';

}
.main .back a img {
    border-radius: 20px;
    width: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.main .back a img:hover {
    transform: scale(1.1);
}
.main .back a p {
    margin-top: 20px;
    font-family: 'Segoe UI';
}

.clickk {
    width: 50px;
    height: 50px;
    background: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
  }